<h2 class="title is-2">Person Name: <%= @person.name %> belongs category <%= link_to "People", people_path%></h2>
<p>
  <strong>This person belongs to planet</strong>  <%=link_to @person.planet.name, @person.planet%> <br>
   <strong>Species is</strong>  <%=link_to @person.species.name, @person.species%> <br>
   <strong>Birth year is</strong>  <%= @person.birth_year%> <br>
   <strong>Gender is</strong>  <%= @person.gender%>

</p>

<h3 class="title is-3">Films</h3>
<% if @person.films.empty? %>
  <p><%= @person.name%> has never been a film.</p>
<% else %>
  <p>Here are the films <%= @person.name%> was in:</p>
  <ul>
    <% @person.films.each do |film| %>
      <li>
        <%= link_to film.title, film%>
      </li>
    <% end %>
  </ul>

<% end %>