<h2 class="title is-2"> Species Name: <%= @specie.name %> belongs category <%= link_to "Species", species_path%></h2>
<h3>Species Details:</h3>
<p>
  The language of this specie is <%= @specie.language%> <br>
  The classification of this specie is <%= @specie.classification%> <br>


</p>
<h3 class="title is-3">There are <%= @specie.people.count %> people from this specie</h3>
  <ul>
    <% @specie.people.each do |person| %>
      <li>
        <%= link_to person.name, person%>
      </li>
    <% end %>
  </ul>
<h3 class="title is-3">There are <%= @specie.planets.count %> planets have this specie</h3>

 <ul>
    <% @specie.planets.each do |planet| %>
      <li>
         <%= link_to planet.name, planet %>
      </li>
    <% end %>
  </ul>
<p>



</p>


