<!DOCTYPE html>
<html>
  <head>
    <title>RailsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <h1>Star War Films</h1>
    <p>
        <%= link_to 'Home', root_path %> |
        <%= link_to 'People', people_path%> |
        <%= link_to 'Species', species_path%> |
        <%= link_to 'Planets', planets_path%> |
        <%= link_to 'Films', films_path%> |


    </p>
    <%= yield %>
  </body>
</html>
